@import './colors.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Playpen Sans', sans-serif;
}

.container {
  max-width: 1440px;
  @media screen and (max-width: 640px) {
    padding-left: 0;
    padding-right: 0;
  }
}